
[Desktop Entry]
Encoding=UTF-8
Name=ShanghaiMoon
GenericName=Rhythm and dance game
TryExec=ShanghaiMoon
Exec=ShanghaiMoon
Terminal=false
Icon=Etterna
Type=Application
Categories=Application;Game;ArcadeGame
Comment=A cross-platform rhythm video game.
